.carousel-item1 {
    background-image: url(../../Assets/Images/Rectangle-44.png);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    margin-top: 40px;


}

/* .carousel-item2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.30)), url(../../Assets/Images/header-img2.jpg);
}

.carousel-item3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.50)), url(../../Assets/Images/header-img3.jpg);
} */



@media screen and (max-width: 992px) {
    .carousel-item1 {
        background-image: url(../../Assets/Images/Rectangle-44.png);
        background-size: 90%;
    }
    
    /* .carousel-item2 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../../Assets/Images/header-img2.jpg);
    }
    
    .carousel-item3 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../../Assets/Images/header-img3.jpg);
    } */
}

.hero-section {
    position: relative;
}


.carousel-item h1,
.carousel-item p {
    color: #fff;
}