.hotel-section2 .spa-div1 {
    background-image: url(../../Assets/Images/Rectangle-350.png);
}

.hotel-section2 .spa-div2 {
    background-image: url(../../Assets/Images/Rectangle-357.png);
}

.hotel-section2 .spa-div3 {
    background-image: url(../../Assets/Images/Rectangle-364.png);
}

.hotel-section2 .spa-div4 {
    background-image: url(../../Assets/Images/Rectangle-371.png);   
}

.hotel-section2 .spa-div5 {
    background-image: url(../../Assets/Images/Rectangle-374.png);
}
.hotel-section2 .spa-div6 {
    background-image: url(../../Assets/Images/Rectangle-377.png);
}
/* .hotel-section2 .spa-div7 {
    background-image: url(../../Assets/Images/Rectangle-353.png);
}
.hotel-section2 .spa-div8 {
    background-image: url(../../Assets/Images/Rectangle-360.png);
}
.hotel-section2 .spa-div9 {
    background-image: url(../../Assets/Images/Rectangle-367.png);
} */

.hotel-section2 .spa-div1,
.hotel-section2 .spa-div2,
.hotel-section2 .spa-div3,
.hotel-section2 .spa-div4,
.hotel-section2 .spa-div5,
.hotel-section2 .spa-div6,
.hotel-section2 .spa-div7,
.hotel-section2 .spa-div8,
.hotel-section2 .spa-div9 {
    
    background-position: center;
    height: 400px;
    border-radius: 5px;
    border: none;

}

.h2 {
    margin-bottom: 2rem; /* Sesuaikan dengan kebutuhan */
}


.hotel-section2 .text-center2 {
    text-align: right;
}

.hotel-section2 .text-left2 {
    text-align: left;
    
}

.hotel-section2 .text-blue2 {
    color: #166274; /* Ubah warna sesuai kebutuhan */
}

.hotel-section2 .mt-2 {
    margin-top: 0.5rem; /* Sesuaikan jarak margin atas */
}

.hotel-section2 .mb-4 {
    margin-bottom: 1.5rem; /* Sesuaikan jarak margin bawah */
}

.text-objek2 {
    margin-top: 20px;
}

/* Tambahkan aturan CSS lainnya yang diperlukan */

@media screen and (max-width: 992px) {
    .hotel-section2 .spa-div1 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }

    .hotel-section2 .spa-div2 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }

    .hotel-section2 .spa-div3 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }

    .hotel-section2 .spa-div4 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }

    .hotel-section2 .spa-div5 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }

    .hotel-section2 .spa-div6 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }

    /* .hotel-section2 .spa-div7 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }

    .hotel-section2 .spa-div8 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    }
    .hotel-section2 .spa-div9 {
        position: relative;
        width: 300px;
        height: 300px; 
        transform: translate(30.9%, 0%);
        margin-top: 50px;

       
    } */
    
}

.button-container3 {
    bottom: 10px;
    width: 93%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 251, 251, 0.486);
    border-radius: 40px;
}

.button-fs2{
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #166274; /* Warna background tombol */
    margin-left: 300px;
    border: none;

}



.spa-div1, .spa-div2, .spa-div3, .spa-div4, .spa-div5, .spa-div6, .spa-div7, .spa-div8, .spa-div9 {
    height: 200px; /* Atur sesuai dengan ukuran gambar yang diinginkan */
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-fs2{
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
}

.harga-fs2{
    position: absolute;
    margin-right: 150px;
    margin-bottom: 10px;
}

.form-control{
    position: relative;
    height: 50px;
    width: 100px;
    margin-left: -200px;
    border: #166274; 
}

.label-background {
    color: #166274; /* Warna latar belakang yang diinginkan */
    border-radius: 5px;
}

.hotel-section2 .button-pilih{
    background-color: #166274;
}

.hotel-section2 .button-fs2 {
    background-color: #166274;
    border-color: #166274;
}

.hotel-section2 .cart-button {
    position: fixed;
    bottom: 50px;
    right: 120px;
    top: -10px;
    background-color: #166274;
    border-color: #166274;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #166274;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.scroll-down-button:hover {
    background-color: #0056b3;
}

.custom-modal2 .modal-dialog {
    max-width: 75%; /* Sesuaikan persentase sesuai kebutuhan Anda */
    margin: auto;
}

.custom-modal2 .modal-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-modal2 .modal-header {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-modal2 .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #166274;
}

.custom-modal2 .modal-header .close {
    font-size: 1.5rem;
    color: #000;
    opacity: 1;
    background: none;
    border: none;
    cursor: pointer;
}

.custom-modal2 .modal-header .close:hover {
    color: #000;
    opacity: 0.7;
}

.custom-modal2 .modal-body {
    font-size: 1rem;
    color: #333;
}

.custom-modal2 .modal-footer {
    border-top: none;
    display: flex;
    justify-content: flex-end;
}

.custom-modal2 .btn-primary {
    background-color: #166274;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.custom-modal2 .btn-primary:hover {
    background-color: #144a5b;
}

.custom-modal2 .button3 {
    border-radius: 20px;
    border: 2px solid black; /* Tambahkan border */
    color: #166274; /* Warna teks awal */
    padding: 10px 20px;
    margin-right: -45px;
    position: relative;
    z-index: 1;
    background-color: white;
    margin-left: 30px;
    
}

.custom-modal2 .button-group2 {
    display: flex;
    align-items: center;
    
}

.custom-modal2 .button3.active {
    color: white; /* Warna teks saat aktif */
    background-color: #166274;
    border: 2px solid black;
    text-decoration: none;
}

.custom-modal2 .circle1 {
    display: inline-block;
    width: 5px;  /* Ukuran lingkaran */
    height: 5px; /* Ukuran lingkaran */
    background-color: rgb(7, 7, 7); /* Warna lingkaran */
    border-radius: 50%;
    margin-right: 20px; /* Jarak antara teks dan lingkaran */
    vertical-align: middle; /* Menyelaraskan lingkaran dengan teks */
}

.custom-modal2 .button-modal {
    background: #166274;
    border-radius: 40px;
    border: none; /* Hapus border */
    margin-top: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 450px;
    
}

.custom-modal2 .button-modal:focus,
.custom-modal2 .button-modal:active,
.custom-modal2 .button-modal:hover {
    background: #166274; 
    outline: none; /* Hapus outline */
}

.custom-modal2 .text-detail2 {
    color: #fff;
    border-radius: 40px;
    border: none;
    
}

.custom-modal2 .small-text2 {
    font-size: 12px; /* Sesuaikan ukuran huruf sesuai kebutuhan */
}

.text-start {
    position: relative;
    margin-left: 90px;

}

    


